*.keras
*.h5
*.dylib
*.so
tfenv/
__pycache__/
*.zip
*.tar.gz
*.whl
*.csv
.venv*
tf-venv*
*.deb*
*.run
*.txt
*.log
eth_1m_data
eth_1s_data
src/.env
.venv\*
.env
model/
*.pt
model/
model/
.claude/worktrees/
