backtrader
python-dotenv
scikit-learn
matplotlib
pandas
python-binance
setuptools
wheel
tqdm
tensorflow
numpy
torch --index-url https://download.pytorch.org/whl/cpu
typing-extensions>=4.7.0
joblib
sagemaker
boto3
uvicorn
fastapi