# Core ML & Backtesting
backtrader
torch
scikit-learn==1.3.0
pandas-ta
pandas==2.1.0
numpy==1.26.0
matplotlib

# AWS & API
sagemaker
boto3
uvicorn
fastapi

# Crypto Data
ccxt
python-binance

# Utilities
python-dotenv
tqdm
joblib
setuptools
wheel
typing-extensions>=4.7.0